.overlay {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: #00000033;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 400px;
  height: 150px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container > span {
  width: 100%;
  font-size: 20px;
  text-align: center;
}
.button {
  transition: 300ms;
  background-color: #eff0f6;
  width: 100px;
  height: 38px;
  border-radius: 9px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  background-color: #e1e1e1;
  transition: 300ms;
  cursor: pointer;
  background-color: ;
}
